# Python / venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/
myvenv/

# IDE
.vscode/
.idea/
*.code-workspace

# Dati e output locali
data/index/*.npz
data/index/latest_index.json
data/enroll/
data/aligned/**/
data/raw/
outputs/
logs/

# Notebook/plot cache
.ipynb_checkpoints/
*.png
*.jpg

# Sistema
.DS_Store
Thumbs.db
